.responsive-slider{"data-autoplay" => "true", "data-spy" => "responsive-slider"}
  .slides{"data-group" => "slides"}
    %ul
      -(1..2).each do |list_count|
        %li
          .slide-body{"data-group" => "slide"}
            -(1..@photos.count).each do |image_count|
              =image_tag @photos[list_count+image_count-3].image, :class=> "image-slider"
  %a.slider-control.left{"data-jump" => "prev", :href => "#"} <
  %a.slider-control.right{"data-jump" => "next", :href => "#"} >

= javascript_include_tag 'jquery.js', 'jquery.event.move', 'responsive-slider.js'