=form_for @photo, url: photos_path, :html => { :multipart => true } do |form|
  -if @photos.count < 5
    =form.file_field :image
    =form.submit
- if (@photos.count) >= 4
  = link_to 'Slider', photos_path, class: 'navbar-brand'
