=image_tag @photo.image.url
=link_to 'New Photo', new_photo_path, class: 'navbar-brand'

-@photos.each do |photo|
  %table
    %tr
    %td= image_tag photo.image, class: 'small-photo'
    %td= link_to 'Delete photo', photo_path(photo), |
         method: :delete,                          |
         data: { confirm: 'Are you sure?' }        |


